/* CSS Document */


/**
* Components Website
* Developed By: Josh Story
**/

@font-face {
    font-family: 'VAG Rounded Std';
    src: url('../fonts/VAGRoundedStd-Light.woff2') format('woff2'), url('../fonts/VAGRoundedStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --font-sans: 'VAG Rounded Std', sans-serif;
    --color-black: #000;
    --color-white: #fff;
    --color-blue: #0672ad;
    --color-bluelight: #88bcd8;
}

body {
    font-family: var(--font-sans);
    overflow-x: hidden;
}

img {
    width: 50%;
    display: block;
}


/* Components */

.components img {
    max-width: initial;
}

.components__img {
    border: 1px solid #ccc;
    overflow-x: auto;
}

.component__code {
    border: 1px solid #ccc;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2rem;
}

h2 {
    font-size: 3.75rem;
}

h3 {
    font-size: .88rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: .88rem;
}

.feature__quote {
    font-size: 1rem;
}