/* CSS Document */


/* Upload Test */


/**
* Components Website
* Developed By: Josh Story
**/

@font-face {
    font-family: 'VAG Rounded Std';
    src: url('../fonts/VAGRoundedStd-Light.woff2') format('woff2'), url('../fonts/VAGRoundedStd-Light.woff') format('woff');
    font-weight: 1000;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --font-sans: 'VAG Rounded Std', sans-serif;
    --color-black: #000;
    --color-gray: #454545;
    --color-white: #fff;
    --color-blue: #0672ad;
    --color-bluelight: #88bcd8;
}

body {
    font-family: var(--font-sans);
    overflow-x: hidden;
    font-size: 1rem;
    line-height: 1.4rem;
    letter-spacing: .1rem;
    padding: 3rem;
    background-color: #dddddd;
}

main {
    max-width: 90rem;
    margin: 0 auto;
}


/* Components */

.component__img {
    max-width: 100%;
    display: block;
    border: 1px solid #ccc;
    overflow-x: auto;
}

.comp--alt {
    background-color: #eee;
    margin-top: 8rem;
    padding-top: 1rem;
}

img {
    width: initial;
    min-width: initial;
    max-width: initial;
    display: block;
}

.component__code {
    border: 1px solid #ccc;
    max-width: 100%;
}

h1,
h2,
h3,
h5 {
    letter-spacing: 0.08rem;
    color: var(--color-black);
}

h1 {
    line-height: 1.2rem;
}

h2 {
    font-size: 3.75rem;
    line-height: 1.2rem;
}

h3 {
    font-size: .88rem;
}


/* Headers for this Content */

h4 {
    font-size: 2.35rem;
    line-height: 5rem;
}


/* //// */

h5 {
    font-size: 1.88rem;
    margin: 1.5rem 0;
}

p {
    font-size: .89rem;
}

sup {
    font-size: 1.9rem;
}

ul {
    list-style-type: none;
    padding-left: none;
}

.feature__quote {
    font-size: 1rem;
}

.component__date,
.component__p1 {
    color: var(--color-gray);
    line-height: 1.25rem;
}

.component__link,
.component__link:visited {
    text-decoration: none;
}

.component__link:hover,
.component__link:focus {
    text-decoration: underline;
    text-decoration-color: var(--color-gray);
}

.component__links {
    margin-top: 1.5rem;
}

a>.component__p1 {
    margin: .25rem 0;
}

.hero--img {
    border-radius: 50%;
}


/* Hero Code */

.component--gradient {
    background-image: linear-gradient(45deg, rgb(29, 10, 40), rgb(64, 49, 82));
}

.main-nav__items {
    display: flex;
    flex-direction: row;
    padding: .5rem 0 0;
    place-content: center center;
    list-style-type: none;
    margin-left: -4rem;
}

.main-nav__link {
    color: var(--color-white);
    text-decoration: none;
    margin: 1rem;
}

.header--component {
    display: flex;
    flex-direction: row;
    place-content: start center;
    place-items: start center;
}

.main-nav__logo--image {
    position: relative;
    right: 13rem;
}

.main-nav__item:hover {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, .9)
}

.hero {
    display: flex;
    flex-direction: row;
    flex-basis: 1fr 1fr;
    place-content: center center;
    place-items: center center;
    gap: 10px;
    padding: 2rem;
}

.hero__img--wrap {
    margin: 0;
}

.hero__img {
    display: block;
    max-width: 49%;
    margin: 0 0 0 3rem;
}

.component__code--nob {
    border: none;
    max-width: 100%;
}

.hero {
    margin-left: 15rem;
    margin-top: -6.5rem;
}

.hero__head,
.hero__title,
.hero__cta {
    color: var(--color-white);
    margin: 2rem;
}

.hero__title {
    margin-bottom: 2.5rem;
}

.hero__cta {
    font-size: 1rem;
    border: 1px solid var(--color-white);
    border-radius: 5px;
    padding: .9rem 1rem .8rem;
}

.hero__cta>sup {
    font-size: .6rem;
}


/* Carousel Code */

.plugins-nav {
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: center center;
    gap: 60px;
}

.plugins-nav__items {
    display: flex;
    flex-direction: row;
    gap: 75px;
    place-content: center center;
    place-items: end;
    max-width: 60rem;
    padding-left: 0;
}

.plugins-nav__item {
    margin: 3rem 0 0;
}

.plugins-nav__link {
    text-decoration: none;
}

.carousel__img-title {
    margin-bottom: 0;
    margin-top: 2rem;
}

.plugins__link--txt {
    color: var(--color-blue);
    margin-top: .25rem;
}

.plugins__link--txt:hover,
.plugins__link--txt:focus {
    color: var(--color-bluelight);
}

.carousel__img {
    box-shadow: 2px 2px 15px var(--color-gray);
    max-width: 110%;
}

.carousel__controls {
    color: var(--color-blue);
    border: 2px solid var(--color-blue);
    border-radius: 50%;
    padding: 1rem;
    font-size: 1.7rem;
    font-weight: lighter;
    margin-left: 1rem;
}

.link--cta {
    background-color: var(--color-white);
    text-align: right;
    margin: -3rem 0 0;
    padding: 0 6rem 2rem;
}

.plugins__link--txt:hover,
.plugins__link--txt:focus {
    color: var(--color-bluelight);
    cursor: pointer;
}

.carousel__controls:hover,
.carousel__controls:focus {
    color: var(--color-bluelight);
    border: 2px solid var(--color-bluelight);
    cursor: pointer !important;
}


/*  Featured Artist Code  */

.feature {
    background-image: url(../components/img/artist/feature-artist.jpg);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90rem;
    height: 38rem;
    position: relative;
}

.feature__card {
    color: var(--color-white);
    background-color: rgba(0, 0, 0, .28);
    border-radius: 15px;
    min-width: 456px !important;
    width: 18vw;
    padding: 1rem;
    margin: auto 10rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.feature__card-title {
    color: var(--color-white);
    font-weight: lighter;
}

.feature__card-artist {
    color: var(--color-white);
    font-weight: lighter;
    text-align: left;
    margin: 2rem 0 1.5rem;
}

.feature__card-quote {
    font-weight: lighter;
    line-height: 1.4rem;
    padding: 0;
    margin: 0 auto 3rem;
}

.feature__link {
    text-decoration: none;
    font-weight: lighter;
    color: var(--color-blue);
}

.feature__link:hover,
.feature__link:focus {
    color: var(--color-bluelight);
}


/* Quicklinks Code */

.quicklinks-nav__items {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    width: 100vw;
}

.quicklinks-nav__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3rem 0 1rem 0;
}

.quicklinks__img {
    border-radius: 50%;
    border: 2px solid var(--color-blue);
    text-align: center;
    margin: 0 auto;
}

.quicklinks__link--txt,
.quicklinks-nav__link {
    color: var(--color-blue);
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: normal;
}

.quicklinks-nav__item:hover,
.quicklinks-nav__item:focus {
    color: var(--color-bluelight);
    border-color: var(--color-bluelight);
    cursor: pointer;
}