/* CSS Document */


/**
* Components Website
* Developed By: Josh Story
**/

@font-face {
    font-family: 'VAG Rounded Std';
    src: url('../fonts/VAGRoundedStd-Light.woff2') format('woff2'), url('../fonts/VAGRoundedStd-Light.woff') format('woff');
    font-weight: 1000;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --font-sans: 'VAG Rounded Std', sans-serif;
    --color-black: #000;
    --color-gray: #454545;
    --color-white: #fff;
    --color-blue: #0672ad;
    --color-bluelight: #88bcd8;
}

body {
    font-family: var(--font-sans);
    overflow-x: hidden;
    font-size: 1rem;
    line-height: 1.4rem;
    letter-spacing: .1rem;
    padding: 3rem;
}


/* Components */

.component__img {
    max-width: 100%;
    display: block;
    border: 1px solid #ccc;
    overflow-x: auto;
}

.comp--alt {
    background-color: #eee;
    margin-top: 8rem;
    padding-top: 1rem;
}

img {
    width: initial;
    min-width: initial;
    max-width: initial;
    display: block;
}

.component__code {
    border: 1px solid #ccc;
    max-width: 100%;
}

h1,
h2,
h3,
h5 {
    letter-spacing: 0.08rem;
    color: var(--color-black);
}

h1 {
    line-height: 1.2rem;
}

h2 {
    font-size: 3.75rem;
    line-height: 1.2rem;
}

h3 {
    font-size: .88rem;
}


/* Headers for this Content */

h4 {
    font-size: 2.35rem;
    line-height: 5rem;
}


/* //// */

h5 {
    font-size: 1.88rem;
    margin: 1.5rem 0;
}

p {
    font-size: .88rem;
}

sup {
    font-size: 1.9rem;
}

.feature__quote {
    font-size: 1rem;
}

.component__date,
.component__p1 {
    color: var(--color-gray);
    line-height: 1.25rem;
}

.component__link,
.component__link:visited {
    text-decoration: none;
}

.component__link:hover,
.component__link:focus {
    text-decoration: underline;
    text-decoration-color: var(--color-gray);
}

.component__links {
    margin-top: 1.5rem;
}

a>.component__p1 {
    margin: .25rem 0;
}

.hero--img {
    border-radius: 50%;
}


/* Hero Code */

.component--gradient {
    background-image: linear-gradient(45deg, rgb(29, 10, 40), rgb(64, 49, 82));
}

.main-nav__items {
    display: flex;
    flex-direction: row;
    padding: 0;
    place-content: center center;
    list-style-type: none;
}

.main-nav__link {
    color: var(--color-white);
    text-decoration: none;
    margin: 1rem;
}

.header--component {
    display: flex;
    flex-direction: row;
    place-content: start center;
    place-items: start center;
}

.main-nav__logo--image {
    position: relative;
    right: 10rem;
}