<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="josh story graphic design portfolio">
    <meta name="keywords" content="graphic design, portfolio, design, logo design">
    <meta name="author" content="josh story">
    <title>Components | JS</title>
    <script src="https://kit.fontawesome.com/09dcee39d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/09dcee39d0.css" crossorigin="anonymous">
    <link href="../css/normalize.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
</head>

<body>


    <!-- Main Content -->
    <main class="main" id="main">
        <h1>Web Components Study</h1>

        <h2>Typography Defaults</h2>
        <p class="component__p1">This is a website design system study conducted for <a href="https://fabfilter.com" target="_blank" rel="noopener">FabFilter</a>
        </p>

        <!--  Body Text  -->

        <article class="component">

            <h4 class="component__title">Body</h4>
            <p class="component__p">This site does not ccontain a lot of body text. However, many of the components do feature consistent formatting, this is what I will be using for my simple body text. This font is not readily available without a paid licence, so I'm unable
                to match the weight effectively.</p>

            <div class="component__img">
                <img srcset="../components/img/footer/footer__news.png 2x" src="../components/img/footer/footer__news.png" alt="body copy">
            </div>

            <!--  Body Text Code  -->
            <div class="component__code">
                <h5>News &#38; updates</h5>
                <p class="compnent__date">Mar 21, 2023</p>
                <p class="component__p1">We have just released an update for all FabFilter plug-ins, introducing AAX Apple Silicon support as well as bug fixes, improvements and some small new features. This update is free...
                </p>
                <div class="component__links">
                    <a href="#!" class="component__link">
                        <p class="component__p1">&#62; &nbsp; Read full article</p>
                    </a>
                    <a href="#!" class="component__link">
                        <p class="component__p1">&#62; &nbsp; All news &#38; updates</p>
                    </a>
                </div>
            </div>
        </article>

        <!--  Headings  -->

        <article class="component">
            <h4 class="component__title">Headings</h4>

            <div class="component__img">
                <img srcset="../components/img/artist/feature__card-title.png 2x" src="../components/img/artist/feature__card-title.png" alt="h3">
                <img srcset="../components/img/artist/feature__artist-name.png 2x" src="../components/img/artist/feature__artist-name.png" alt="h2">
                <img srcset="../components/img/header/hero/hero__content-title.png 2x" src="../components/img/header/hero/hero__content-title.png" alt="h2">
                <img srcset="../components/img/footer/footer__news-title.png 2x" src="../components/img/footer/footer__news-title.png" alt="h5">
            </div>

            <!--  Headers Code  -->

            <div class="component__code">
                <h3>Artist feature</h3>
                <h2>Groove Armada</h2>
                <h2>Twin<sup>3</sup></h2>
                <h5>News &#38; updates</h5>

            </div>
        </article>

        <!-- Header Section -->
        <!--  Atoms  -->
        <article class="component comp--alt">
            <h2>&nbsp;Header Section</h2>
            <h4 class="component__title">&nbsp; Header Section - Atoms</h4>

            <div class="component__img">
                <img srcset="../components/img/header/main-nav/main-nav__logo.png 2x" src="../components/img/header/main-nav/main-nav__logo.png" alt="main nav logo">
                <img srcset="../components/img/header/main-nav/main-nav__list-item-1.png 2x" src="../components/img/header/main-nav/main-nav__list-item-1.png" alt="main nav item">
                <img srcset="../components/img/header/hero/hero__content-desc.png 2x" src="../components/img/header/hero/hero__content-desc.png" alt="hero description">
                <img srcset="../components/img/header/hero/hero__content-title.png 2x" src="../components/img/header/hero/hero__content-title.png" alt="hero section product">
                <img srcset="../components/img/header/hero/hero__cta-btn.png 2x" src="../components/img/header/hero/hero__cta-btn.png" alt="hero cta">
            </div>

            <!--  Molecules  -->

            <h4 class="component__title">&nbsp; Header Section - Molecules</h4>

            <div class="component__img">
                <img srcset="../components/img/header/main-nav/main-nav.png 2x" src="../components/img/header/main-nav/main-nav.png" alt="main nav with logo">
                <img srcset="../components/img/header/hero/hero__content.png 2x" src="../components/img/header/hero/hero__content.png" alt="hero content">
                <img class="hero--img" srcset="../components/img/header/hero/hero__bg-img.png 2x" src="../components/img/header/hero/hero__bg-img.png" alt="hero image">
            </div>

            <!--  Header Organism -->

            <h4 class="component__title">&nbsp; Header Section - Organism</h4>

            <div class="component__img">
                <img srcset="../components/img/header/header-section.png 2x" src="../components/img/header/header-section.png" alt="header organism">
            </div>
        </article>
        <!--    Header Code    -->

        <div class="component__code">
            <h4 class="component__title">&nbsp; Header Section - Organism Code</h4>
            <div class="component-header-wrap component--gradient">
                <div class="component__code--nob  header--component">
                    <a class="logo-link" href="#!">
                        <img class="main-nav__logo--image" srcset="../components/img/header/main-nav/main-nav__logo.png 2x" src="../components/img/header/main-nav/main-nav__logo.png" alt="main nav logo"></a>
                    <nav class="main-nav">
                        <ul class="main-nav__items">
                            <li class="main-nav__item"><a class="main-nav__link" href="#!">Plug-ins</a></li>
                            <li class="main-nav__item"><a class="main-nav__link" href="#!">Download</a></li>
                            <li class="main-nav__item"><a class="main-nav__link" href="#!">Shop</a></li>
                            <li class="main-nav__item"><a class="main-nav__link" href="#!">Learn</a></li>
                            <li class="main-nav__item"><a class="main-nav__link" href="#!">Support</a></li>
                            <li class="main-nav__item"><a class="main-nav__link" href="#!">My Account</a></li>
                        </ul>
                    </nav>
                </div>

                <section class="hero">
                    <img class="hero__img" alt="Twin 3" src="../components/img/header/hero/header__img.png">
                    <div class="hero__info">
                        <p class="hero__head">Powerful synthesizer plug-in</p>
                        <h2 class="hero__title">Twin<sup>3</sup></h2>
                        <a class="hero__cta btn">Discover Twin<sup>3</sup></a>
                    </div>
                </section>
            </div>
            <!--///// Header Code  /////-->

            <!-- Plugins Carousel Section -->
            <!--  Atoms  -->
            <article class="component comp--alt">
                <h2>&nbsp;Plugins Carousel Section</h2>
                <h4 class="component__title">&nbsp; Plugins Carousel - Atoms</h4>

                <div class="component__img">
                    <img srcset="../components/img/products/products-control.png 2x" src="../components/img/products/products-control.png" alt="carousel controls left">
                    <img srcset="../components/img/products/products-control-2.png 2x" src="../components/img/products/products-control-2.png" alt="carousel controls right">
                    <img srcset="../components/img/products/product-grid__card-img.png 2x" src="../components/img/products/product-grid__card-img.png" alt="carousel image">
                    <img srcset="../components/img/products/product-grid__card-title.png 2x" src="../components/img/products/product-grid__card-title.png" alt="carousel image title">
                    <img srcset="../components/img/products/product-grid__card-desc.png 2x" src="../components/img/products/product-grid__card-desc.png" alt="carousel item description">
                    <img srcset="../components/img/products/product-grid__cta-btn.png 2x" src="../components/img/products/product-grid__cta-btn.png" alt="plugins cta button">
                </div>

                <!--  Molecules  -->

                <h4 class="component__title">&nbsp; Plugins Carousel - Molecules</h4>

                <div class="component__img">
                    <img srcset="../components/img/products/product-grid__card.png 2x" src="../components/img/products/product-grid__card.png" alt="carousel card">
                </div>

                <!--  Plugins Carousel Organism -->

                <h4 class="component__title">&nbsp; Plugins Carousel - Organism</h4>

                <div class="component__img">
                    <img srcset="../components/img/products/product-grid.png 2x" src="../components/img/products/product-grid.png" alt="plugins carousel">
                </div>
            </article>

            <!--  Plugins Carousel Code *** DOES NOT FUNCTION **** -->

            <h4 class="component__title">&nbsp; Plugin Carousel - Organism Code</h4>
            <div class="carousel-wrap">
                <div class="component__code--nob  carousel--component">

                    <nav class="plugins-nav">
                        <p class="carousel__controls">&#60;</p>
                        <ul class="plugins-nav__items">
                            <li class="plugins-nav__item">
                                <a class="plugins-nav__link" href="#!">
                                    <img class="carousel__img" srcset="../components/img/products/pro-q-3-intro.jpg 3.9x" src="../components/img/products/pro-q-3-intro.jpg" alt="pro q 3 intro">
                                    <h5 class="carousel__img-title">Pro-Q3</h5>
                                    <p class="plugins__link--txt">High-quality equalizer plug-in &#62;</p>
                                </a>
                            </li>
                            <li class="plugins-nav__item">
                                <a class="plugins-nav__link" href="#!">
                                    <img class="carousel__img plugins--active" srcset="../components/img/products/pro-r-intro.jpg 3.75x" src="../components/img/products/pro-r-intro.jpg" alt="pro r intro">
                                    <h5 class="carousel__img-title">Pro-R</h5>
                                    <p class="plugins__link--txt">High-end reverb plug-in &#62;</p>
                                </a>
                            </li>
                            <li class="plugins-nav__item">
                                <a class="plugins-nav__link" href="#!">
                                    <img class="carousel__img" srcset="../components/img/products/pro-l-2-intro.jpg 3.9x" src="../components/img/products/pro-l-2-intro.jpg" alt="pro l intro">
                                    <h5 class="carousel__img-title">Pro-L 2</h5>
                                    <p class="plugins__link--txt">True peak limiter plug-in &#62;</p>
                                </a>
                            </li>
                        </ul>
                        <p class="carousel__controls">&#62;</p>
                    </nav>
                    <p class="plugins__link--txt link--cta">All plug-ins &#62;</p>

                </div>
            </div>
        </div>

        <!--///////  Plugins Cod ///////-->

        <!-- Featured Artist Section -->
        <!--  Atoms  -->
        <article class="component comp--alt">
            <h2>&nbsp;Featured Artist Section</h2>
            <h4 class="component__title">&nbsp; Featured Artist - Atoms</h4>

            <div class="component__img">
                <img srcset="../components/img/artist/feature__card-title.png 2x" src="../components/img/artist/feature__card-title.png" alt="card name">
                <img srcset="../components/img/artist/feature__artist-name.png 2x" src="../components/img/artist/feature__artist-name.png" alt="artist name">
                <img srcset="../components/img/artist/feature__block-quote.png 2x" src="../components/img/artist/feature__block-quote.png" alt="artist block quote">
                <img srcset="../components/img/artist/feature__card-link.png 2x" src="../components/img/artist/feature__card-link.png" alt="article cta">
                <img srcset="../components/img/artist/feature-artist.jpg 2x" src="../components/img/artist/feature-artist.jpg" alt="background image">
            </div>

            <!--  Molecules  -->

            <h4 class="component__title">&nbsp; Featured Artist - Molecules</h4>

            <div class="component__img">
                <img srcset="../components/img/artist/feature__card.png 2x" src="../components/img/artist/feature__card.png" alt="artist card">
            </div>

            <!--  Featured Artist Organism -->

            <h4 class="component__title">&nbsp; Featured Artist - Organism</h4>

            <div class="component__img">
                <img srcset="../components/img/artist/feature.png 2x" src="../components/img/artist/feature.png" alt="featured artist organism">
            </div>
        </article>

        <!--  Featured Artist Code  -->
        <div class="component__code">
            <h4 class="component__title">&nbsp; Featured Section - Organism Code</h4>
            <div class="component-header-wrap">

                <div class="feature">
                    <article class="feature__card">
                        <h3 class="feature__card-title">Artist feature</h3>
                        <h2 class="feature__card-artist">Groove Armada</h2>
                        <blockquote class="feature__card-quote">
                            <p>"I heard Dave Pensado talking about FabFilter. We&#96;ve used the Volcano and Saturn plugins on Groove Armada tunes for a while. From adding a bit of grit and tweaking certain frequencies all the way up to creating whole new
                                sounds on the more..."</p>
                        </blockquote>
                        <a class="feature__link" href="#!" title="read more">Read more about Groove Armada &#62;</a>
                    </article>
                </div>
            </div>
        </div>
        <!--///////  Featured Artist Code  ////////-->

        <!-- Quicklinks Section -->
        <!--  Atoms  -->
        <article class="component comp--alt">
            <h2>&nbsp;Quicklinks Section</h2>
            <h4 class="component__title">&nbsp; Quicklinks - Atoms</h4>

            <div class="component__img">
                <img srcset="../components/img/sub-nav/bottom-nav__icon.png 2x" src="../components/img/sub-nav/bottom-nav__icon.png" alt="icons">
                <img srcset="../components/img/sub-nav/bottom-nav__link-txt.png 2x" src="../components/img/sub-nav/bottom-nav__link-txt.png" alt="icon text">
                <img srcset="../components/img/sub-nav/bottom-nav__arrow.png 2x" src="../components/img/sub-nav/bottom-nav__arrow.png" alt="article cta">
            </div>

            <!--  Molecules  -->

            <h4 class="component__title">&nbsp; Quicklinks - Molecules</h4>

            <div class="component__img">
                <img srcset="../components/img/sub-nav/bottom-nav__list-item.png 2x" src="../components/img/sub-nav/bottom-nav__list-item.png" alt="quicklink">
            </div>

            <!--  Featured Artist Organism -->

            <h4 class="component__title">&nbsp; Quicklinks - Organism</h4>

            <div class="component__img">
                <img srcset="../components/img/sub-nav/bottom-nav__list.png 2x" src="../components/img/sub-nav/bottom-nav__list.png" alt="Quicklinks">
            </div>
        </article>

        <!--  Quicklinks Code  -->

        <h4 class="component__title">&nbsp; Quicklinks - Organism Code</h4>
        <div class="carousel-wrap">
            <div class="component__code--nob  quicklinks--component">

                <nav class="plugins-nav">

                    <ul class="quicklinks-nav__items">
                        <li class="quicklinks-nav__item">
                            <a class="quicklinks-nav__link" href="#!">
                                <img class="quicklinks__img" srcset="../components/img/sub-nav/icons-01.png 4.3x" src="../components/img/sub-nav/icons-01.png" alt="plugins quicklink">
                                <p class="quicklinks__link--txt">Plug-ins &#62;</p>
                            </a>
                        </li>
                        <li class="quicklinks-nav__item">
                            <a class="quicklinks-nav__link" href="#!">
                                <img class="quicklinks__img" srcset="../components/img/sub-nav/icons-02.png 4.3x" src="../components/img/sub-nav/icons-02.png" alt="download quicklink">
                                <p class="quicklinks__link--txt">Download &#62;</p>
                            </a>
                        </li>
                        <li class="quicklinks-nav__item">
                            <a class="quicklinks-nav__link" href="#!">
                                <img class="quicklinks__img" srcset="../components/img/sub-nav/icons-03.png 4.3x" src="../components/img/sub-nav/icons-03.png" alt="shop quicklink">
                                <p class="quicklinks__link--txt txt-dl">Shop &#62;</p>
                            </a>
                        </li>
                        <li class="quicklinks-nav__item">
                            <a class="quicklinks-nav__link" href="#!">
                                <img class="quicklinks__img" srcset="../components/img/sub-nav/icons-04.png 4.3x" src="../components/img/sub-nav/icons-04.png" alt="support quicklink">
                                <p class="quicklinks__link--txt">Support &#62;</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--//////// Quicklinks Code ////////-->

        <!-- Foooter Section -->
        <!--  Atoms  -->
        <article class="component comp--alt">
            <h2>&nbsp;Footer Section</h2>
            <h4 class="component__title">&nbsp; Footer - Atoms</h4>
            <div class="component__img">
                <img srcset="../components/img/footer/footer__news-title.png 2x" src="../components/img/footer/footer__news-title.png" alt="news title">
                <img srcset="../components/img/footer/footer__news-date.png 2x" src="../components/img/footer/footer__news-date.png" alt="news date">
                <img srcset="../components/img/footer/footer__news-article.png 2x" src="../components/img/footer/footer__news-article.png" alt="news article">
                <img srcset="../components/img/footer/footer__news-nav-list.png 2x" src="../components/img/footer/footer__news-nav-list.png" alt="news nav">
            </div>
            <div class="component__img">
                <img srcset="../components/img/footer/footer__about-title.png 2x" src="../components/img/footer/footer__about-title.png" alt="about title">
                <img srcset="../components/img/footer/footer__about-list-item.png 2x" src="../components/img/footer/footer__about-list-item.png" alt="about list item">
            </div>
            <div class="component__img">
                <img srcset="../components/img/footer/utd-title.png 2x" src="../components/img/footer/utd-title.png" alt="stay up to date title">
                <img srcset="../components/img/footer/icon.png 2x" src="../components/img/footer/icon.png" alt="social icons">
                <img srcset="../components/img/footer/link-txt.png 2x" src="../components/img/footer/link-txt.png" alt="link text">
                <img srcset="../components/img/footer/subscribe.png 2x" src="../components/img/footer/subscribe.png" alt="subscribe text">
                <img srcset="../components/img/footer/form.png 2x" src="../components/img/footer/form.png" alt="subscribe form">
                <img srcset="../components/img/footer/submit.png 2x" src="../components/img/footer/submit.png" alt="form submit">
            </div>


            <!--  Molecules  -->

            <h4 class="component__title">&nbsp; Footer - Molecules</h4>

            <div class="component__img">
                <img srcset="../components/img/footer/footer__news.png 2x" src="../components/img/footer/footer__news.png" alt="news card">
                <img srcset="../components/img/footer/footer__about.png 2x" src="../components/img/footer/footer__about.png" alt="about card">
                <img srcset="../components/img/footer/footer__utd.png 2x" src="../components/img/footer/footer__utd.png" alt="stay up to date card">
                <img srcset="../components/img/footer/footer__copywrite.png 2x" src="../components/img/footer/footer__copywrite.png" alt="legal info">

            </div>

            <!--  Featured Artist Organism -->

            <h4 class="component__title">&nbsp; Footer - Organism</h4>

            <div class="component__img">
                <img srcset="../components/img/footer/footer.png 2x" src="../components/img/footer/footer.png" alt="footer organism">
            </div>
        </article>
        <h4 class="component__title">&nbsp; Footer - Code</h4>
        <!--  Footer Code  -->
        <div class="footer__wrap">
            <div class="component__code--nob  footer__component">

                <div class="footer__card">
                    <h5>News &#38; updates</h5>
                    <p class="compnent__date">Mar 21, 2023</p>
                    <p class="component__p1 news__p">We have just released an update for all FabFilter plug-ins, introducing AAX Apple Silicon support as well as bug fixes, improvements and some small new features. This update is free...
                    </p>
                    <div class="component__links">
                        <a href="#!" class="component__link">
                            <p class="component__p1">&#62; &nbsp; Read full article</p>
                        </a>
                        <a href="#!" class="component__link">
                            <p class="component__p1">&#62; &nbsp; All news &#38; updates</p>
                        </a>
                    </div>
                </div>

                <div class="footer__card">
                    <h5>About FabFilter</h5>
                    <nav class="footer-nav">
                        <ul class="footer-nav__items">
                            <li class="footer-nav__item footer-nav--spacer">
                                <a class="component__link" href="#!">
                                    <p class="component__p1">&#62; &nbsp; Contact us</p>
                                </a>
                            </li>
                            <li class="footer-nav__item footer-nav--spacer">
                                <a class="component__link" href="#!">
                                    <p class="component__p1">&#62; &nbsp; User forum</p>
                                </a>
                            </li>
                            <li class="footer-nav__item footer-nav--spacer">
                                <a class="component__link" href="#!">
                                    <p class="component__p1">&#62; &nbsp; Video tutorials</p>
                                </a>
                            </li>
                            <li class="footer-nav__item footer-nav--spacer">
                                <a class="component__link" href="#!">
                                    <p class="component__p1">&#62; &nbsp; Help Files</p>
                                </a>
                            </li>
                            <li class="footer-nav__item footer-nav--spacer">
                                <a class="component__link" href="#!">
                                    <p class="component__p1">&#62; &nbsp; Artists</p>
                                </a>
                            </li>
                            <li class="footer-nav__item footer-nav--spacer">
                                <a class="component__link" href="#!">
                                    <p class="component__p1">&#62; &nbsp; Press</p>
                                </a>
                            </li>
                            <li class="footer-nav__item footer-nav--spacer">
                                <a class="component__link" href="#!">
                                    <p class="component__p1">&#62; &nbsp; About us</p>
                                </a>
                            </li>
                            <li class="footer-nav__item">
                                <a class="component__link" href="#!">
                                    <p class="component__p1">&#62; &nbsp; Job openings</p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="footer__card">
                    <h5>Stay up to date</h5>
                    <nav class="footer-nav">
                        <ul class="footer-nav__items">
                            <li class="footer-nav__item">
                                <a class="component__link" href="#!">
                                    <p class="component__p1"><i class="fa-brands fa-facebook-f"></i>&nbsp; Facebook</p>
                                </a>
                            </li>
                            <li class="footer-nav__item">
                                <a class="component__link" href="#!">
                                    <p class="component__p1"><i class="fa-brands fa-twitter"></i>&nbsp; Twitter</p>
                                </a>
                            </li>
                            <li class="footer-nav__item">
                                <a class="component__link" href="#!">
                                    <p class="component__p1 txt-dl"><i class="fa-brands fa-instagram"></i>&nbsp; Instagram</p>
                                </a>
                            </li>
                            <li class="footer-nav__item">
                                <a class="component__link" href="#!">
                                    <p class="component__p1"><i class="fa-brands fa-youtube"></i>&nbsp; YouTube</p>
                                </a>
                            </li>
                            <li class="footer-nav__item">
                                <a class="component__link" href="#!">
                                    <p class="component__p1"><i class="fa-solid fa-rss"></i>&nbsp; RSS</p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <form method="post">
                        <label class="component__p1 form__label">Subscribe to our newsletter:
                          <input class="form__imput" name="email" autocomplete="email" placeholder="E-mail address">
                        </label>
                        <button class="form__submit">&#62;</button>
                    </form>
                </div>
            </div>
            <p class="component__p1 footnote__center">Copyright &#169; 2002-2023 FabFilter. All rights reserved. <a class="footer__link link--blue">Terms of use</a> | <a class="footer__link link--blue">Privacy policy</a> | <a class="footer__link link--blue">License Agreement</a></p>
        </div>
        <!--///////// Footer Code ////////-->

    </main>
    <!--/ Main Content -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="../js/main.js"></script>

</body>

</html>