<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="josh story graphic design portfolio">
    <meta name="keywords" content="graphic design, portfolio, design, logo design">
    <meta name="author" content="josh story">
    <title>Components | JS</title>
    <script src="https://kit.fontawesome.com/09dcee39d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/09dcee39d0.css" crossorigin="anonymous">
    <link href="../css/normalize.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
</head>

<body>


    <!-- Main Content -->
    <main class="main" id="main">
        <h1>Web Components Go Here</h1>

        <h2>Typography Defaults</h2>

        <!--  Body Text  -->

        <article class="component">

            <h4 class="component__title">Body</h4>
            <p class="component__p">This site does not ccontain a lot of body text. However, many of the components do feature consistent formatting, this is what I will be using for my simple body text. This font is not readily available without a paid licence, so I'm unable
                to match the weight effectively.</p>

            <div class="component__img">
                <img srcset="../components/img/footer/footer__news.png 2x" src="../components/img/footer/footer__news.png" alt="body copy">
            </div>

            <!--  Body Text Code  -->
            <div class="component__code">
                <h5>News &#38; updates</h5>
                <date class="compnent__date">Mar 21, 2023</date>
                <p class="component__p1">We have just released an update for all FabFilter plug-ins, introducing AAX Apple Silicon support as well as bug fixes, improvements and some small new features. This update is free...
                </p>
                <div class="component__links">
                    <a href="#!" class="component__link">
                        <p class="component__p1">&#62; &nbsp; Read Full Article</p>
                    </a>
                    <a href="#!" class="component__link">
                        <p class="component__p1">&#62; &nbsp; All news &#38; updates</p>
                    </a>
                </div>
            </div>
        </article>

        <!--  Headings  -->

        <article class="component">
            <h4 class="component__title">Headings</h4>

            <div class="compnent__img">
                <img srcset="... 4x" src="..." alt="body copy">
            </div>

            <div class="component__code">
                <h2></h2>
                <h3></h3>
                <h4></h4>

            </div>
        </article>




    </main>
    <!--/ Main Content -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="../js/main.js"></script>

</body>

</html>