<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="josh story graphic design portfolio">
    <meta name="keywords" content="graphic design, portfolio, design, logo design">
    <meta name="author" content="josh story">
    <title>Components | JS</title>
    <link rel="icon" href="img/logo.svg">
    <script src="https://kit.fontawesome.com/09dcee39d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/09dcee39d0.css" crossorigin="anonymous">
    <link href="../css/normalize.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
</head>

<body>
    <header id="navbar">

    </header>

    <!-- Main Content -->
    <main class="main" id="main">


        <!-- Footer -->
        <footer class="footer">
            <div class="inner__wrap">

            </div>
        </footer>

    </main>





    <!-- </div> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="js/main.js"></script>

</body>

</html>